body {
    color: rgb(7, 7, 7);
    background: rgb(251, 135, 251);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(2, 2, 3);
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 2, 4);
}

section {
	background: rgb(184,156,213);
	padding-bottom: 90px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}